BETTER_AUTH_SECRET=__generate_64_char_hex_or_base64__
BETTER_AUTH_URL=https://auth.bayflix.ms
PORT=8096

GOOGLE_CLIENT_ID=__from_google_cloud_console__
GOOGLE_CLIENT_SECRET=__from_google_cloud_console__

DISCORD_CLIENT_ID=__from_discord_developer_portal__
DISCORD_CLIENT_SECRET=__from_discord_developer_portal__
